<!DOCTYPE html>
<html>
    <head>
        <title>Access Project Questions - {% block name %}Home{% endblock %}</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <!--  Don't bother downloading, just reference the bootstrap files. -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style_overrides.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script>
            MathJax = {
                chtml: {
                    displayAlign: "left"
                }
            };
        </script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url_for('home') }}">Access Project Questions</a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarLinks">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarLinks">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        {% block extra_links %}{% endblock %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Single questions<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for set_name, factory in SINGLE_QUESTIONS.items() %}
                                    <li><a href="{{ url_for('question_sets', set_name=set_name) }}">{{ factory().title }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Mixed questions<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for set_name, factory in MIXED_QUESTIONS.items() %}
                                    <li><a href="{{ url_for('question_sets', set_name=set_name) }}">{{ factory().title }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container">
            <h3>{% block title %}{% endblock %}</h3>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
