{% extends "base.html" %}

{% block title %}{{ question_set.title }}{% endblock %}

{% block extra_links %}
  {% if sister_answers_link %}
    {% if show_answers %}
      <li><a href="{{ sister_answers_link }}">Hide answers</a></li>
    {% else %}
      <li><a href="{{ sister_answers_link }}">Show answers</a></li>
    {% endif %}
  {% endif %}
  <li><a href="{{ new_random_link }}">Random set</a></li>
{% endblock %}

{% block content %}
<p>
  <ol>
    {% for equation in question_set.generate_set() %}
    <li>
      <div class="question">
          {{ equation.readable_format(True) }}
          {% if equation.has_image %}
            <br>
            <img src="{{ image_manager.image_src(equation) }}">
          {% endif %}
          {% if show_answers %}
            <br>
            Answer: {{ equation.readable_answer(True) }}
            <br>
          {% endif %}
          <br>
      </div>
    </li>
    {% endfor %}
  </ol>
</p>
{% endblock %}
